<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Funcionário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1>Adicionar Funcionário</h1>

    <form th:action="@{/funcionarios/ui/criar}"
          method="post"
          th:object="${funcionario}">

        <input type="text" th:field="*{nome}" placeholder="Nome" />
        <input type="text" th:field="*{email}" placeholder="Email" />
        <input type="number" th:field="*{idade}" placeholder="Idade" />
        <input type="text" th:field="*{cargo}" placeholder="Cargo" />
        <input type="number" th:field="*{tarefa}" placeholder="Tarefa" />

        <button type="submit">Cadastrar Funcionário</button>
    </form>

</div>
</body>
</html>