<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Ninja</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1>Novo Ninja</h1>

    <form th:action="@{/ninjas/ui/criar}"
          method="post"
          th:object="${ninja}">

        <div class="form-group">
            <label>Nome</label>
            <input type="text" th:field="*{nome}">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" th:field="*{email}">
        </div>

        <div class="form-group">
            <label>Idade</label>
            <input type="number" th:field="*{idade}">
        </div>

        <div class="form-group">
            <label>Rank</label>
            <input type="text" th:field="*{rank_ninja}">
        </div>

        <div class="form-group">
            <label>Missão</label>

            <select th:field="*{missoes.id}">
                <option value="">Selecione uma missão</option>

                <option th:each="missao : ${missoes}"
                        th:value="${missao.id}"
                        th:text="${missao.nome}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>

        <a th:href="@{/ninjas/ui/listar}" class="btn btn-danger">
            Cancelar
        </a>
    </form>
</div>

</body>
</html>