<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Ninja</title>
</head>
<body>

<h1>Editar Ninja</h1>

<form th:action="@{/ninjas/ui/atualizar/{id}(id=${ninja.id})}"
      method="post"
      th:object="${ninja}">

    Nome: <input type="text" th:field="*{nome}" /><br>
    Email: <input type="text" th:field="*{email}" /><br>
    Idade: <input type="number" th:field="*{idade}" /><br>
    Rank: <input type="text" th:field="*{rank_ninja}" /><br>

    <button type="submit">Atualizar</button>
</form>

</body>
</html>