<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Ninjas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1>Lista de Ninjas</h1>

    <a th:href="@{/ninjas/ui/adicionar}" class="btn btn-success">
        Novo Ninja
    </a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Rank</th>
            <th>Missao</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ninja : ${ninjas}">
            <td th:text="${ninja.id}"></td>
            <td th:text="${ninja.nome}"></td>
            <td th:text="${ninja.email}"></td>
            <td th:text="${ninja.idade}"></td>
            <td th:text="${ninja.rank_ninja}"></td>
            <td th:text="${ninja.missoes != null ? ninja.missoes.nome : 'Sem missão'}"></td>

            <td>
                <a th:href="@{/ninjas/ui/editar/{id}(id=${ninja.id})}"
                   class="btn btn-primary">Editar</a>

                <a th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}"
                   class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>