<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Missões</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1>Lista de Missões</h1>

    <div class="page-actions">
        <a th:href="@{/tarefas/ui/adicionar}" class="btn btn-success">
            Nova Tarefa
        </a>

        <a th:href="@{/funcionarios/ui/listar}" class="btn btn-primary">
            Ver Funcionários
        </a>
    </div>

    <div th:if="${mensagem}" class="alert alert-success"
         th:text="${mensagem}">
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Dificuldade</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tarefa : ${tarefas}">
            <td th:text="${tarefa.id}"></td>
            <td th:text="${tarefa.nome}"></td>
            <td th:text="${tarefa.prioridade}"></td>

            <td>
                <a th:href="@{/tarefas/ui/editar/{id}(id=${tarefa.id})}"
                   class="btn btn-primary">Editar</a>

                <a th:href="@{/tarefas/ui/deletar/{id}(id=${tarefa.id})}"
                   class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>